.accept-cookies-container {
    @extend .card;
    @extend .p-s;
    @extend .p-b-l;

    display: none;
    position: fixed;
    bottom: $space-m * -1;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    width: 100%;
    max-width: 800px;

    p {
        font-size: 0.85rem;
    }
}

@include tablet {
    .accept-cookies-container {
        p {
            font-size: 0.75rem;
        }
    }
}

@include mobile {
    .accept-cookies-container {
        p {
            margin-bottom: $space-s;
            font-size: 0.75rem;
        }
    }
}