.cart-indicator {
    @extend .interactive;
    
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: $input-height;
    background-color: $orange;
    font-weight: 600;
    border-radius: $border-radius-m;
    // Custom size outside of the standard layout
    padding: 0 10px 0 20px;
    text-decoration: none;
    
    span {
        color: $white;
    }

    .price {
        @extend .desktop-and-tablet-content;
        @extend .p-r-xs;
        @extend .m-r-xs;

        border-right: 1px solid $white;
    }

    .count {
        @extend .m-r-xs;
    }
}