footer {
    @extend .p-t-m;

    width: 100%;
    background-color: darken($primary, 10%);

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;

        .mobile-footer-social-icons {
            flex-direction: row;
            justify-content: center;
            border-bottom: none;

            a {
                @extend .interactive;

                height: 40px;
                // Custom size outside of the standard layout
                margin-right: 30px;

                &:last-child {
                    margin-right: 0;
                }

                img {
                    display: inline-block;
                    height: 100%;
                    min-width: 20px;
                }
            }
        }

        & > div {
            @extend .p-t-s;

            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            border-bottom: 1px solid transparentize($white, 0.8);

            &:first-child {
                border-bottom: none;
            }

            a {
                @extend .interactive;
                @extend .m-b-s;

                color: $white!important;
                text-decoration: none;
                text-align: center;
            }

            img {
                @extend .interactive;

                display: block;
                width: 90%;
                max-width: 207px;
                // Custom size outside of the standard layout
                margin: 0 auto 40px auto;
                opacity: 0.4;
            }
        }
    }

    .footer-bottom-track {
        @extend .flex-center;

        height: 60px;
        color: $white;
        text-align: center;

        .content-limiter {
            margin-bottom: 0;
        }

        .desktop-footer-social-icons {
            a {
                @extend .interactive;
                @extend .m-l-xs;
            }
        }

        .footer-copyright {
            color: $white;
        }
    }
}

@include tablet-and-desktop {
    footer {
        // Custom size outside of the standard layout
        padding-top: 66px;

        .footer-content {
            flex-direction: row;
            align-items: flex-start;
            // Custom size outside of the standard layout
            margin-bottom: 142px;

            & > div {
                display: inline-flex;
                align-items: flex-start;
                vertical-align: top;
                border-bottom: none;

                a {
                    text-align: left;
                    // Cannot use @extend inside mixins.
                    padding-left: $space-s;
                }
            }

            & > :first-child {
                width: 34%;
            }

            & > div:not(:first-child) {
                width: 22%;
            }
        }

        .footer-bottom-track {
            justify-content: space-between;
            border-top: 1px solid transparentize($white, 0.8);
            // Cannot use @extend inside mixins.
            margin: 0 $space-s;

            .content-limiter {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}
