.partner-slider-container {
	@extend .flex-center;
	@extend .white-background;
	
	height: 200px;

	.partner-slider {

		overflow: hidden;

		div {
			position: relative;
			height: 100px;

			img {
				@extend .absolute-center;

				height: 100px;
				-webkit-filter: grayscale(1);
				filter: grayscale(1);
				opacity: 0.8;
			}
		}
	}
}