.pagination{
    display: flex;
    gap: 20px;

    &--arrow{
        @extend .interactive;
        @extend .flex-center;

        width: 40px;
        height: 40px;
        position: relative;
        border: 2px solid $primary;
        border-radius: 50%;
        user-select: none;

        img {
            display: block;
            width: 9px;
        }

        &.left {
            img {
                transform: rotateZ(180deg);
            }
        }
    }

    &--row{
        display: flex;
        gap: 10px;
        align-items: center;

        p{
            color: $blue;
            cursor: pointer;
        }
    }
}
