.race-card {
    @extend .interactive;
    @extend .m-s;

    .image {
        @extend .standard-background-image;
        @extend .shadow-s;

        display: block;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        margin-bottom: $space-s;
        border-radius: 50%;
        align-items: flex-end;
        cursor: pointer;
        transition: all 0.5s;
        background-blend-mode: multiply;
    }

    &:hover {
        transform: scale(1.05);
    }

    &:nth-child(3n + 0) {
        .image {
            background-color: transparentize($primary, 0.1);
        }
    }

    &:nth-child(3n + 1) {
        .image {
            background-color: transparentize($orange, 0.1);
        }
    }

    &:nth-child(3n + 2) {
        .image {
            background-color: transparentize($yellow, 0.1);
        }
    }

    h4 {
        @extend .primary-heading;
        
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}