.search-wrapper {
    position: relative;
    width: 100%;

    .search-bar {
        @extend .flex-center;

        position: relative;
        background-color: $cream-white;
        border-radius: 30px;
        // overflow: hidden;
        width: 100%;

        input {
            background-color: transparent;
            width: 100%;
            outline: none;
            border: none;
            height: $input-height;
            line-height: $input-height;
            // Custom size outside of the standard layout
            padding: 0 50px;
            font-family: $font-family;
        }

        button {
            position: absolute;
            outline: none;
            border: none;

            &:not(.btn) {
                background: transparent;
            }

            &:first-child {
                left: 15px;
            }

            &:last-child {
                right: 0;
            }
        }
    }

    .search-dropdown {
        @extend .card;

        display: flex;
        position: absolute;
        top: $input-height + $space-xs;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 1000;
        
        .column {
            max-height: 300px;
            border-right: 1px solid $light-gray;
            overflow-x: hidden;
            overflow-y: auto;

            &:last-child {
                border: none;
            }

            a {
                @extend .p-l-xs;
                @extend .m-b-xs;

                display: block;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@include tablet {
    .search-wrapper {
        .search-dropdown {
            max-height: none;
            flex-direction: column;
            width: calc(100vw - 50px);

            .column {
                border-right: none;
                border-bottom: 1px solid $light-gray;
                padding-top: $space-s;
                padding-bottom: $space-s;
            }
        }
    }
}

@include mobile {
    .search-wrapper {
        .search-dropdown {
            max-height: none;
            flex-direction: column;
            width: calc(100vw - 50px);

            .column {
                border-right: none;
                border-bottom: 1px solid $light-gray;
                padding-top: $space-s;
                padding-bottom: $space-s;
            }
        }
    }
}
