.search-and-cart {
    @extend .flex-distributed-row;

    .search-app {
        width: calc(100% - 195px);
    }

    .cart-app {
        width: 180px;
    }
}

@include tablet {
    .search-and-cart {
        .search-app {
            width: calc(100% - 195px);
        }
    
        .cart-app {
            width: 185px;
        }
    }
}

@include mobile {
    .search-and-cart {
        .search-app {
            width: calc(100% - 87px);
        }
    
        .cart-app {
            width: 77px;
        }
    }
}

// Nested menu

.menu-collapser {
    @extend .limited-text;

    position: relative;
    width: 100%;
    height: 48px;
    padding: 0 40px 0 20px;
    color: $primary;
    font-size: $text-font-rem * 0.9;
    line-height: 48px;
    background-color: $cream-white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 24px;
}

@media only screen and (max-width: $tablet) {
    .slimmenu {
        background-color: transparentize($white, 0.1);
    }
}

.collapse-button {
    @extend .interactive;

    position: absolute;
    right: 5px;
    top: 50%;
    padding: 15px;
    color: $white;
    font-size: 14px;
    text-align: center;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.collapse-button .icon-bar {
    display: block;
    height: 2px;
    width: 18px;
    margin: 2px 0;
    background-color: $primary;
    border-radius: 1px;
}

ul.slimmenu {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.slimmenu:before,
ul.slimmenu:after {
    content: "";
    display: table;
}

ul.slimmenu:after {
    clear: both;
}

ul.slimmenu.collapsed li {
    display: block;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

ul.slimmenu.collapsed li > ul {
    position: static;
    display: none;
}

ul.slimmenu.collapsed li a {
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}

ul.slimmenu.collapsed li .sub-toggle {
    height: 40px;
}

ul.slimmenu li {
    position: relative;
    float: left;
    display: inline-block;
    min-width: 150px;
    background-color: transparentize($cream-white, 0.3);
}

.goog-te-combo {
    -webkit-appearance: none!important;
    appearance: none!important;
    -moz-appearance: none!important;

    background-image: url('/images/icons/angle-down.svg')!important;
    background-repeat: no-repeat!important;
    background-size: 10px 10px!important;
    background-position: calc(100% - 16px)!important;

    height: 40px!important;
    line-height: 15px!important;

    background-color: $primary!important;
    border: none!important;
    color: $white!important;
    border-radius: 20px!important;
    font-family: $font-family!important;

    option {
        color: $text-color;
        background-color: $white;
    }
}

@media only screen and (max-width: $tablet) {
    .goog-te-combo {
        display: block;
        width: calc(100% - 20px)!important;
        margin: 0 auto!important;
    }
}

ul.slimmenu li ul {
    margin: 0;
    list-style-type: none;
}

ul.slimmenu li ul li {
    width: 100%;
    background: $cream-white;
}

ul.slimmenu li > ul {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 999;
    display: none;
    width: 100%;
}

ul.slimmenu li > ul > li ul {
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 999;
    display: none;
    width: 100%;
}

ul.slimmenu li a {
    display: block;
    padding: 12px 64px 12px 16px;
    color: #333;
    font-weight: 400;
    text-decoration: none;
    transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -webkit-transition: background-color 0.5s ease-out;
}

ul.slimmenu li a:hover {
    text-decoration: none;
    background-color: $white;
}

ul.slimmenu li .sub-toggle {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
    width: 48px;
    height: 100%;
    text-align: center;
    opacity: 0.7;
    cursor: pointer;
    
    img {
        width: 10px;
        height: 10px;
    }
}

ul.slimmenu li .sub-toggle:before {
    content: "";
    display: inline-block;
    height: 100%;
    margin-right: -0.25em;
    vertical-align: middle;
}

ul.slimmenu li .sub-toggle > i {
    display: inline-block;
    color: #333;
    font-size: 18px;
    vertical-align: middle;
}

ul.slimmenu li > a {
    font-size: $text-font-rem * 0.8!important;
}

ul.slimmenu > li:first-child,
ul.slimmenu > li.has-submenu + li {
    border-left: 0;
}


@include tablet {
    li.has-submenu ul li {
        padding-left: 20px;
    }    
}

@include mobile {
    li.has-submenu ul li {
        padding-left: 20px;
    }    
}