.text-section {
    @extend .p-h-m;
    @extend .p-v-xl;
    @extend .flex-center;

    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 500px;
    overflow: hidden;
    
    .content {
        display: flex;
        flex-direction: column;
        z-index: 1;
        text-align: center;
        width: 80%;
        max-width: 800px;

        h1 {
            @extend .m-b-m;
        }
    }

    video {
        position: absolute;
        min-height: 200%;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &.dark {
        @extend .card;
        @extend .text-section;
        @extend .p-v-xxl;
    
        .content {
            color: $white;
        }
    }
}
