.account-form {
    width: 100%;
    min-width: 390px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $primary;
    }

    .smaller-text {
        display: block;
        text-align: center;
    }
}

.profile-form {
    .order-history-container {
        padding-left: $space-m;
    }
}

@include mobile {
    .account-form {
        min-width: 0;
    }

    .profile-form {
        .order-history-container {
            padding-left: 0;
        }
    }
}
