.multiple_inputs_form_wrapper {
    display: flex;
    gap:20px;
    padding-top: 6px;

    .fields-wrapper {
        display: flex;
        width: 50%;
        flex-direction: column;
        gap: 20px
    }

}

