.about-us-section,
.register-section {
    .content {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            @extend .primary-heading;

            display: inherit;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.about-us-logo {
    position: absolute;
    width: 80%;
    max-width: 600px;
    min-width: 300px;
    opacity: 0.1;
}
