.btn {
    @extend .interactive;
    @extend .p-h-s;
    @extend .flex-center;

    display: inline-flex;
    height: $button-height;
    background-color: $black;
    color: $white;
    text-align: center;
    border-radius: $border-radius-m;
    overflow: hidden;
    cursor: pointer;
    border: none;
    outline: none;
    min-width: 140px;
    font-weight: 600;
    font-size: 0.85rem;
    border: 2px solid $black;
    text-decoration: none;

    span {
        color: inherit;
    }

    &.orange {
        background-color: $orange;
        border-color: $orange;

        &.negative {
            color: $orange;
        }
    }

    &.blue {
        background-color: $blue;
        border-color: $blue;

        &.negative {
            color: $blue;
        }
    }

    &.red {
        background-color: $red-light;
        border-color: $red-light;

        &.negative {
            color: $red-light;
        }
    }

    &.green {
        background-color: $green-light;
        border-color: $green-light;

        &.negative {
            color: $green-light;
        }
    }

    &.gray {
        background-color: $gray;
        border-color: $gray;

        &.negative {
            color: $gray;
        }
    }

    &.light-gray {
        background-color: $light-gray;
        border-color: $light-gray;

        &.negative {
            color: $light-gray;
        }
    }

    &.cream-white {
        background-color: $cream-white;
        border-color: $cream-white;

        &.negative {
            color: $cream-white;
        }
    }

    &.white {
        background-color: $white;
        border-color: $white;
        color: $text-color;

        &.negative {
            color: $white;
        }
    }

    &.negative {
        color: $black;
        background: transparent;
    }

    &.disabled {
        opacity: 0.3;
        transition: none;
        user-select: none;
        cursor: initial;
    }
}

.full-width-button {
    .btn {
        width: 100%;
    }
}

.badge-button {
    .btn {
        min-width: 0;
        width: $button-height;
    }
}

@include tablet-and-desktop {
    .btn {
        height: $button-height * 0.9;
    }
}
