.checkbox-container {
	.checkbox {
		@extend .m-b-s;

		position: relative;
		display: flex;
		cursor: pointer;
		align-items: center;

		.checkbox-text {
			font-weight: 600;
			font-size: $component-font-rem;
			user-select: none;
		}

		.inner-label {
			@extend .m-r-s;

			position: relative;
			display: inline-block;
			background-color: $white;
			min-width: $toggle-button-outer-size; // Outer size
			width: $toggle-button-outer-size; // Outer size
			height: $toggle-button-outer-size; // Outer size
			border: 2px solid $primary;
			border-radius: 50%;
			-webkit-tap-highlight-color: transparent;

			&:after {
				content: "";
				position: absolute;
				top: $toggle-button-inner-offset; // Inner offset
				left: $toggle-button-inner-offset; // Inner offset
				width: $toggle-button-inner-size; // Inner size
				height: $toggle-button-inner-size; // Inner size
				border-radius: 100%;
				background: $primary;
				transform: scale(0);
				transition: all $transition-duration ease;
				opacity: 0.08;
				pointer-events: none;
			}
		}

		&:hover {
			.inner-label:after {
				transform: scale(2);
			}
		}
	}

	input[type="checkbox"] {
		display: none;
	}

	input[type="checkbox"]:focus + .inner-label:after {
		transform: scale(2);
	}

	input[type="checkbox"]:checked + .inner-label {
		border-color: $primary;

		&:after {
			transform: scale(1);
			transition: all $transition-duration cubic-bezier(0.35, 0.9, 0.4, 0.9);
			opacity: 1;
		}
	}
}
