.image-picker {
    @extend .standard-background-image;
    @extend .interactive;

    display: inline-flex;
    position: relative;
    width: 100%;
    max-width: 160px;
    height: 240px;
    border-radius: $border-radius-s;
    background-color: $extra-light-gray;
    overflow: hidden;

    label {
        @extend .flex-center;

        height: 100%;
        width: 100%;
        cursor: pointer;
    }

    input {
        display: none;
    }

    .plus {
        width: 36px;
    }

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background: $primary;
    }
}
