.input-field {
    @extend .background-transition;
    @extend .p-h-s;

    border-radius: $border-radius-m;
    background-color: $cream-white;
    border: none;
    outline: none;
    width: 100%;
    font-family: $font-family;

    &:focus {
        background-color: darken($cream-white, 5);
    }
}

.text-field,
.dropdown-field {
    @extend .input-field;

    height: $input-height;
}

label + .text-field,
label + .dropdown-field {
    // Custom size outside of the standard layout
    margin-top: 6px;
}

.textarea-field {
    @extend .input-field;
    @extend .p-s;

    width: 100% !important;
    min-height: 160px !important;
    max-height: 800px !important;
    font-family: $font-family;
}

@include tablet-and-desktop {
    .text-field,
    .dropdown-field {
        height: $input-height * 0.9;
    }
}

.upload-field {
    display: flex;
    margin-top: 20px;
}
