// Breakpoints
$desktop: 1200px;
$tablet: 992px;
$mobile: 768px;

$body-min-width: 300px;

// Colors
$black: #000;
$white: #fff;
$cream-white: #f7f8f8;
$gray: #353434;
$light-gray: #c7c7c7;
$extra-light-gray: #e5e5e5;
$blue: #10abe2;
$light-blue: #8edaf5;
$red: #ff0000;
$red-light: #db4437;
$green: #00952a;
$green-light: #16a085;
$yellow: #fa0;
$light-yellow: #eabb53;
$orange: #ff4d01;

// Theme colors
$primary: $blue;
$secondary: $gray;
$tertiary: $blue;
$quaternary: $white;
$text-color: #333;
$border-color: #ddd;
$border-color-light: rgba(255, 255, 255, 0.5);

// Typography
$font-family: "Montserrat", sans-serif;
$letter-spacing-m: 0.5px;
$component-font-rem: 0.85rem;
$text-font-rem: 0.95rem;
$font-size-mobile: 20px;
$font-size-tablet: 18px;
$font-size-desktop: 16px;

// Spacing
$space-xxs: 5px;
$space-xs: 10px;
$space-s: 20px;
$space-m: 40px;
$space-l: 60px;
$space-xl: 80px;
$space-xxl: 100px;

// Transitions
$transition-duration: 0.2s;

// Border radius
$border-radius-s: 10px;
$border-radius-m: 14px;
$border-radius-l: 22px;

// Modal
$modal-width: 600px;

// Shadows
$shadow-s: 0px 3px 5px 5px rgba(0, 0, 0, 0.1);
$shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.2);
$shadow-book: 3px 3px 15px 0px rgba(0, 0, 0, 0.4);

// Header
$header-height: 110px;

// Aside
$aside-width: 240px;
$aside-link-height: 60px;

// Input
$input-height: 60px;
$input-default-width: 345px;

// Textarea
$textarea-min-height: 100px;
$textarea-max-height: 600px;

// Button
$button-height: 70px;
$button-default-width: 280px;
$badge-size: 50px;
$category-button-height: 30px;

// Radio and Checkbox
$toggle-button-outer-size: 40px;
$toggle-button-inner-offset: 4px;
$toggle-button-border-width: 2px;
$toggle-button-inner-size: $toggle-button-outer-size - 2 * ($toggle-button-inner-offset + $toggle-button-border-width);
